<?php
//
// Laclasse address book configuration file
//
//

$config['laclasse_addressbook_api_user']   = 'http://nelson.erasme.lan/api/users/';
$config['laclasse_addressbook_api_etab']   = 'http://nelson.erasme.lan/api/structures/';
$config['laclasse_addressbook_api_profiles_types']   = 'http://nelson.erasme.lan/api/profiles_types/';
$config['laclasse_addressbook_app_id']     = 'APP_ID';
$config['laclasse_addressbook_api_key']    = 'API_KEY';

